<h1>Create a To-Do</h1>

<form action="/todos/create" method="post"> 

  <p>
    Category:
    <input type="number" name="category_id">
  </p>
  
  <p>
    Title:
    <input type="text" name="title">
  </p>

  <p>
    Description:
    <input type="text" name="description">
  </p>

  <p>
    Completed:
    <input type="boolean" name="completed">
  </p>

  <p>
    User_id:
    <input type="number" name="user_id">
  </p>

  <p>
  <input type="submit">
  </p>
</form>