<h1>Add Category</h1>

<form action="/categories/create" method="post">
  <p>
  New Category:
  <input type="text" name="name">
  </p>

  <p>
    <input type="submit">
  </p>
</form>

<a href="/categories/index">Categories List</a>